*{
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
body{
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
} 
.logo{
    margin: 0 auto;
    display: block;
    width: 500px;
    margin-bottom: 50px;
}
#all{
    margin: 0 auto;
    width: 85%;
}
#new_page{
    column-gap: 20px;
    row-gap: 110px;   
    display: flex;
    flex-wrap: wrap;
}
.pokemon_name{
    font-size: 27px;
    padding: 18px 0 0 90px;
}
.pokemon_name{
    font-size: 20px;
}
.pokemon_img{
    width: 50%;
    padding: 11px 0 0 100px;
}
.more_info{
    position: relative; 
    width: 400px;
    height: 555px;
    border-radius: 15px;
    display: none;
    background-image: url(/img/card.png);
    background-size: cover;
}
.static{
    display: block;
    border-radius: 15px;
    width: 350px;
    height: 485px;
    margin-left: 50px;
    background-image: url(./img/card.png);
}
.more_img1, .more_img2{
    width: 40%;
}
.more_img1{
    margin: 40px 0 0 40px;
}
.hp{
   color: red; 
}
.def{
    color: gray;
}
.spec{
    color: yellow;
}
.more_stats{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
}
.back_btn{  
    font-size: 20px;
    margin-top: 0px;
    padding: 15px 50px;
    cursor: pointer;
}
.btns{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.more_pokemon_name{
    font-size: 27px;
    padding: 20px 0 0 100px;
}
ul{
    margin-top: 16px;
    text-align: center;
    font-size: 25px;
    list-style-type: none;
}
.pokemon_btn{
    padding: 15px 50px; 
    margin: 65px auto;
}
.back_btn{
    padding: 5px 30px;
    position: absolute;
    left: 38%;
    top: 79%;    
}
button{
    display: block;
    cursor: pointer;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #f1c40f;
    color: #f1c40f;
    background-color:white;
    transition: .4s;
}
button:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}
button:hover:after{
    border-color: #f1c40f;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}
