#all{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 1500px;
    margin: 0 auto;
}
#pokemon{
    border: 1px solid black;
    width: 300px;
    height: 400px;
    text-align: center;
}
#pokemon_name{
    font-size: 30px;
    padding-top: 5px;
}
#pokemon_img{
    width: 200px;
    height: 200px;
    padding-top: 30px;
}
#pokemon_btn{
    margin-top: 40px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}